<!DOCTYPE html>
<html>
    <head>
        <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="/styles.css" rel="stylesheet">
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>BookMyShow</h1></a>
                <p>Way ahead</p>
            </div>
            <ul>
                <li><a href="/login">Logout</a></li>
            </ul>           
        </nav>
        <div class="blogs content">
        <h2>Now Showing</h2>
        <form method="POST" action="/end">
            <label for="movie" id="cars"><strong>Movie</strong></label>
            <select id="cars" name="movie" required>
                    <option value="Bahubali-2">Bahubali-2</option>
                    <option value="Robot 2.0">Robot 2.0</option>
                    <option value="Master">Master</option>
                </select>
            <label for="movie" id="cars"><strong>No.of.Tickets</strong> </label>
            <input type="number" id="cars" name="count" min="1" max="4">
        <div class="seatStructure">
        <center>
      
    <table id="seatsBlock">
     <p id="notification"></p>
      <tr>
        <td colspan="14"><div class="screen">SCREEN</div></td>
        <td rowspan="20">
          <div class="smallBox greenBox">Selected Seat</div> <br/>
          <div class="smallBox redBox">Reserved Seat</div><br/>
          <div class="smallBox emptyBox">Empty Seat</div><br/>
        </td>
        
        <br/>
      </tr>
      
      <tr>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td></td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>
      
    <tr>
        <td>A</td>
        <td><input type="checkbox" name="seatno" class="seats" value="A1"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A2"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A3"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A4"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A5"></td>
        <td class="seatGap"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A6"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A7"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A8"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A9"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A10"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A11"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="A12"></td>
      </tr>
      
      <tr>
        <td>B</td>
        <td><input type="checkbox" name="seatno" class="seats" value="B1"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B2"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B3"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B4"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B5"></td>
        <td></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B6"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B7"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B8"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B9"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B10"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B11"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="B12"></td>
      </tr>
      
      <tr>
        <td>C</td>
        <td><input type="checkbox" name="seatno" class="seats" value="C1"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C2"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C3"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C4"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C5"></td>
        <td></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C6"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C7"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C8"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C9"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C10"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C11"></td>
        <td><input type="checkbox" name="seatno" class="seats" value="C12"></td>
    </tr>
        </table>
    </center>
    </div>
    <div class="create-blog">       
    <center>
    <button>BOOK</button>
    </center>
    </div>
    </form>
    </div>
    <div class="blogs content">
        
    </div>
    </body>
</html>