<!DOCTYPE html>
<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>BookMyShow</h1></a>
                <p>Way ahead</p>
            </div>
            <ul>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/blogs/create"></a></li>
            </ul>           
        </nav>
        <h3>Login</h3>
        <div class='create-blog' >
                <form method="GET" action="/book">
                    <label for="title">Mail:</label>
                    <input type="text" id="title" name="title" required><br>
                    <label for="snippet">Password:</label>
                    <input type="password" id="snippet" name="snippet" required>
                    <button>Login</button>
                </form>
        </div>
    </body>
</html>