@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
}
p, h1, h2, h3, h4, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
/* nav & footer styles */
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}
nav h1{
  font-size: 3em;
}
nav p, nav a{
  color: #777;
  font-weight: 300;
}
footer{
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2{
  margin-bottom: 40px;
}
h3{
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}
h4{
    font-size: 22px;
  }
.content{
  margin-left: 20px;
}
/* index styles */
.blogs a{
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid crimson;
  }
  .blogs a:hover h3{
    color: crimson;
  }

  /* details styles */
  .details{
    position: relative;
  }
  .delete{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
  }
  .delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  }

 /* create styles */
.create-blog form{
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label{
  display: block;
  margin-top: 24px;
}
textarea{
  height: 120px;
}
.create-blog button{
  margin-top: 20px;
  background: rgb(143, 116, 116);
  color: white;
  padding: 6px;
  border: 0;
  font-family: 'Noto-seriff', serif;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
}
#cars {
     padding: 5px; 
     padding-left: 25px;
     padding-right: 25px;  
     font-size: 22px;
   }
   .screen
   {
     width:100%;
     height:20px;
     background:#4388cc;
     color:#fff;
     line-height:20px;
     font-size:15px;
   }
   
   .smallBox::before
   {
     content:".";
     width:15px;
     height:15px;
     float:left;
     margin-right:10px;
   }
   .greenBox::before
   {
     content:"";
     background:Green;
   }
   .redBox::before
   {
     content:"";
     background:Red;
   }
   .emptyBox::before
   {
     content:"";
     box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
       background-color:#ccc;
   }
   
   .seats
   {
     border:1px solid red;background:yellow;
   } 
     
   table
   {
     text-align:center;
   }
   
   
   .Displaytable
   {
     text-align:center;
   }
   .Displaytable td, .Displaytable th {
       border: 1px solid;
       text-align: left;
   }
   textarea
{
  border:none;
  background:transparent;
}



input[type=checkbox] {
    width:0px;
    margin-right:18px;
}

input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color:#ccc;
}

input[type=checkbox]:checked:before {
    background-color:Green;
    font-size: 15px;
}



  
  